<div class="container__big-card">
 <div class="big-card__photo">
  <img
  src="https://i.uai.com.br/8rRQWbrQAtAFlETEiR-hvL-aj-4=/750x0/imgsapp2.uai.com.br/app/noticia_133890394703/2022/06/29/290025/chris-evans-como-capitao-america_1_49930.jpg"
  alt=""
  height="283px"
  >

 </div>
 <div class="big-card__title">
 <h1><a href="#">Saiu a nova versão do Angular</a></h1>

 </div>
 <div class="big-card__description">
  <p>
    <a href="#">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel diam odio. Nullam sit amet nisl volutpat, ornare ante nec, suscipit orci. Donec blandit tortor non odio laoreet malesuada. Vivamus sed odio id nunc cursus aliquet sit amet ac lorem. Aliquam erat volutpat.
  </a>
  </p>

 </div>

</div>
