
<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    photoCover="https://i.uai.com.br/8rRQWbrQAtAFlETEiR-hvL-aj-4=/750x0/imgsapp2.uai.com.br/app/noticia_133890394703/2022/06/29/290025/chris-evans-como-capitao-america_1_49930.jpg"
    cardTitle="Novo Capitão América em 3D"
    cardDescription="Marvel anuncia novo Capitão América.">
  </app-big-card>

   </div>

  <div class="articles__others">
<app-small-card
Id="1"
cardTitle="Ms. Marvel: Saiba tudo sobre a nova heroína no Disney+"
photoCover="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/9681C7C3404BEDE1305C98BD6A300BAB911BF870EF239C1817C11E88A6357467/scale?width=1200&aspectRatio=1.78&format=jpeg"></app-small-card>

<app-small-card
Id="2"
cardTitle="Homem-Aranha 4: Novo filme de Tom Holland finalmente ganha novidades"
photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTd6N66Q2ir7VUT6sWxINE2hP04zFkgtGCRUQ&usqp=CAU"></app-small-card>

<app-small-card
Id="3"
cardTitle="Nova série no Disney+"
photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbeQKB0uidvfbBBv5WuJ0m6OZbXdq1cP2LIQ&usqp=CAU"></app-small-card>

  </div>
</div>


